.idea/
chartbootapp/
src/.DS_Store
src/__pycache__
src/audio2exp_models/__pycache__
src/audio2pose_models/__pycache__
src/data_gen/.DS_Store
src/data_gen/utils/src/data_gen/utils/process_image/__pycache__
src/data_gen/utils/__pycache__
src/data_gen/utils/mp_feature_extractors/__pycache__
src/data_gen/utils/process_image/__pycache__
src/data_gen/utils/process_image/.DS_Store
src/data_gen/utils/process_video/__pycache__
src/data_gen/utils/process_video/.DS_Store
**/__pycache__/
**/.DS_Store/
src/utils/.DS_Store
src/utils/data/.DS_Store
src/speech/.DS_Store
src/speech/tts/.DS_Store
.DS_Store